* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #111629;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  padding-inline: 1rem;
}

.quote-details {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #20293a;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
